body{
font-family: "Poppins",sans-serif;
}

/* Banner Section */
.banner {
  background:linear-gradient(140deg,#c1cfe4,#7794cc); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-content .head{
  color: #232625;
  font-size: 28px;
  font-weight: 500;
}

/* Subheading Styling */
.subhead {
  color: #232625;
  font-size: 13px;
  font-weight: 400;
}

.subhead .Home{
  color: #232625;
  font-size: 13px;
  font-weight: 400;
}

.subhead .Home:hover{
  color: #000000;
  transform: translateY(-5px) scale(1.05); 
  font-weight: 900;
  font-size: 13px;
  bottom: -3px;             

}

.subhead .Home:hover::after {
  width: 100%;            
}

/* Login Section */
.login-bg {
  /* background: linear-gradient(135deg, #bdc3c7, #eef2f3); */
  background-color:#d7dde8;
}

/* Card Styling */
.ChangePass-card {
  background: whitesmoke;
  width: 480px;         
  height: 530px;   
  padding: 38px 60px;        
  border-radius: 54px;
  border: 2px solid #000000;
  box-shadow: 0 0px 5px 5px #232625;
  justify-content: center;
}


/* Card Headings */
.card-heading {
  font-size: 25px;
  font-weight: 500;
  color: black;
}
.card-sub-heading {
  font-size: 12px;
  color: #556270;
  margin: 4px 2px 19px 0;
}

/* Label styling */
.label {
  color: black;
  font-size: 15px;
  padding: 3px 1px;
}

/* Input wrapper */
.input-grouping {
  position: relative;
  margin-bottom: 16px;
}

/* Input field */
.input-fields {
  width: 100%;
  padding: 10px 14px 10px 40px;
  border: 1px solid #232625;
  background-color: #d7dde8;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
}

/* Icon inside input */
.input-grouping .fa {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: black;
  font-size: 16px;
  pointer-events: none; /* so click goes to input */
}

.input-fields:focus {
  border-color: #6366f1;
  box-shadow: 0 0 4px rgba(99, 102, 241, 0.4);
}

/* Checkbox & Terms */
.checkbox {
  width: 13px;
  height: 13px;
  accent-color: #1877F2; 
  cursor: pointer;
}

.text {
  font-size: 13px;
  color: #4b5563;
}

.forgot-password {
  font-size: 13px;
  color: #1877F2;
  text-decoration: none;
  transition: color 0.1s ease;
}

.forgot-password:hover {
  color: #ff00cc; 
  text-decoration: underline;
} 

/* Signup Button */
.login-btn {
  background: #1877F2;
  color: white;
  padding: 10px;
  border-radius: 80px;
  font-weight: 400;
  border: none;
}
.login-btn:hover {
  background: #ff00cc;
  cursor: pointer;
  transition: 0.1s;
}

/* Footer */
.footer-down {
  margin-top: 20px;
  font-size: 13px;
  color: #4b5563;
}

.login-link {
  color: #0551f3;
  font-weight: 600;
}

.login-link:hover {
  color: #ff00cc;
  font-weight: 900;
}

